extends layout

block content
  div(class="flex flex-col items-center justify-center w-full h-screen text-gray-700 lg:hidden")
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-x-octagon" viewBox="0 0 16 16">
    <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
    </svg>
    div(class="p-3 text-center") Please use desktop sizing!
  div(class="absolute w-full h-full main-content sm:max-lg:hidden")
    nav(class="bg-white border-b border-gray-200 p-3.5 z-30 w-full flex items-center justify-between")
      div(class="flex items-center gap-x-2.5" style="margin-left: 1.5rem;")
         h1(class="title" style="line-height: 1.15;font-size: 2.5rem; font-weight:bold;") Create images with 
            span(class="titleColor" style="color: cadetblue;") DALLE 2
      div(class="flex items-center")
        div(onclick="submit()" class="cursor-pointer sm:inline-flex ml-5 text-white bg-slate-700 hover:ring-2 hover:ring-blue-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center items-center mr-3") Submit Prompt
        div(class="flex gap-x-.5 items-center" style="margin-right: .5rem;")
              select(id="size" class="bg-gray-50 border ml-2.5 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500")
                <option selected="selected" value="landscape">16:9</option>
                <option value="classic">3:2</option>
                <option value="normal">4:3</option>
                <option value="square">1:1</option>
        div(style="margin-right: 1.5rem;")
          select(id="tabs-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500")
            option(value="generation") Generation Mode
            option(value="edit") Edit Mode
    main(style="background-image: url('images/background.jpg');background-repeat: repeat;background-size: 100% 100%; min-height:100%")
      div
        div(style="padding-top: 2rem;")
        div(class="p-3" id="generation")
          div(class="flex justify-center w-full")
            input(id="generation-input" class="block p-3 pl-6 text-lg text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-320" type="text" placeholder="Enter your prompt here")
        div(class="hidden p-3 m-auto" id="edits")
          div(class="flex justify-center w-full")
            input(id="edits-input" class="block p-3 pl-6 text-lg text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-320" type="text" placeholder="Enter your NEW prompt here")
          div(class="flex justify-center w-full my-3")
            aside(class="w-64 p-2" aria-label="Sidebar" style="padding:0;")
              div(class="px-3 py-2 overflow-y-auto rounded-lg bg-gray-50 dark:bg-gray-800")
                ul
                 li
                  a(href="#" class="flex items-center text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700")
                    form(onchange="addImage(event, 2);" id="variation-image-upload" class="w-full")
                      label(for="edit-image" class="flex w-full p-2 cursor-pointer")
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="w-5 h-5 text-gray-500 transition duration-75 shrink-0 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" viewBox="0 0 16 16">
                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                        <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
                        </svg>
                        span(class="w-full ml-3") Upload
                      input(type="file" id="edit-image" class="hidden")
                 li
                  a(href="#" onclick="clearCanvas(2);" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg cursor-pointer dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700")
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" viewBox="0 0 16 16">
                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                    </svg>
                    span(class="ml-3") Clear
                  li
                   a(href="#" onclick="eraseCanvas(this, 2);" id="edits-eraser" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg cursor-pointer dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700")
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" viewBox="0 0 16 16">
                    <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414l-3.879-3.879zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
                    </svg>
                    span(class="ml-3") Eraser
            canvas(id="edits-canvas" style="padding-start:1rem;")
      div(class="flex justify-center w-full")
        div(id="output" class="flex flex-col m-5" style="width:80rem; margin-top:1rem; margin-bottom:1rem; opacity:0.9;")
  div(id="lightbox" class="fixed z-10 flex justify-center hidden w-full h-full bg-white bg-opacity-90")
    div
      div(class="flex items-center justify-center w-full h-full overflow-y-scroll")
        img(id="lightbox-image")
      button(class="absolute p-2 rounded-lg close-button top-2 right-2 hover:bg-gray-100 dark:hover:bg-gray-700" onclick="closeLightbox();")
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
        </svg>
  script(src="./javascripts/fabric.min.js")
  script(src="./javascripts/index.js")